{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} - Ajout d'un projet {% endblock %}
       
{% block contenu %} 
    
    {% if form.valide is defined %} 
        {% if form.valide == true %}
           <h1 class="alert alert-success" role="alert">Ajout réussie</h1>
           <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=projet" class="violet">Retourner sur la liste des projets</a></h1>
        {% else %} 
           <h1 class="h3 mb-3 font-weight-normal">{{ form.valide.message }}</h1> 
           <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=projet" class="violet">Retourner sur la liste des projets</a></h1>
        {% endif %}     
    {% else %}      
        <h1> Ajout d'un projet </h1> 
        <div class="panel-body">
          <form  class="form-signin" action="index.php?page=projetAdd" method="post" enctype="application/x-www-form-urlencoded">
            <label for="inputCode" class="sr-only">Code de projet:</label>
            <input type="text" id="inputCode" name="inputCode" class="form-control" placeholder="Saisir un code de projet:" required autofocus>
            <label for="inputLibelle" class="sr-only">Libellé de projet:</label>
            <input type="text" id="inputLibelle" name="inputLibelle" class="form-control" placeholder="Saisir un libellé de projet:" required autofocus>
            <select name='contrat'>
                <option value="">Choisissez un contrat</option>
                {% for u in liste %}
                    <option value='{{u.idContrat}}'>Contrat : {{u.idContrat}} ; Entreprise {{u.nomEntreprise}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="btAjouter">Ajouter</button>
          </form>
        </div>    
    {% endif %}
    
{% endblock %}  