{% extends "base.html.twig" %}
       
{% block title %} {{ parent() }} - Gestion des projets {% endblock %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block contenu %} <h1> Gestion des projets </h1> 
    
    {% if form.valide is defined %} 
        {% if form.valide == true %}
           <h1 class="alert alert-success" role="alert">{{ form.message }}</h1>
           {% else %}  
           <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
        {% endif %}         
    {% endif %}        
    
    <form action='index.php?page=projet' method='post'>
        <h2 align='center'> Rechercher un projet </h2>
        <input type='text' name='codeprojet' class='form-control' placeholder='Saisir un code projet:'>
        <button type='submit' name='btValider' class='btn btn-lg btn-block'>Rechercher</button>
    </form>
    <hr/>
    <div class="panel">
      <!-- Default panel contents -->
      
      <div class="panel-heading background-violet">Liste des projets - <a href='index.php?page=projetAdd' class='blanc'>Ajouter un projet</a></div>

     
      <form action='index.php?page=projet' method='post'>
      <!-- Table -->
      <div class="table-responsive">
      <table class="table table-hover table-striped">
          <tr><th>Client</th><th>Code Projet</th><th>Libellé</th><th>Date Signature Contrat</th><th></th><th></th></tr>
        {% if liste is not empty %}
          {% for u in liste %}
              <tr>
                  <td>{{u.nomEntreprise}}</td>
                  <td>{{u.code}}</td>
                  <td>{{u.libelle}}</td>
                  <td>{{u.dateSignatureF}}</td>
                  <td> <div class="btn-group btn-group-lg"><a href="index.php?page=projetMod&code={{u.code}}"><span class="glyphicon glyphicon-pencil violet" aria-hidden="true"></span></a></div></td>
                  <td><input type="checkbox" name="cocher[]" class="check" value="{{u.code}}"/></td>
              </tr> 
       {% endfor %}  
       {% else %}
           <tr><td>Aucun client à afficher</td><td></td><td></td><td></td><td></td><td></td></tr>
      </table>
      </div>
      {% if liste is not empty %}
        <button type='submit' class='btn btn-block btn-danger' name="btSupprimer">Supprimer</button>
        <button class="btn btn-block" id="btCocher">Tout cocher</button>
      {% endif %}
      </form>
    </div>
    {% endif %}
{% endblock %}

{% block js %} <script src="js/checked.js"></script> {% endblock %}